/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /*Переменные цвета*/
  --bg-color: var(--bg-pink);
  --text-color: var(--light-black);
  --accent-color: var(--shadow-pink);
  --outline-color: var(--light-black);
  --title-text-color: var(--light-black);
  --link-shadow-color: var(--shadow-pink);
  --content-title-color: var(--light-black);
  --main-title-text-color: var(--light-pink);
  --decoration-color: var(--light-black);
  --semi-transparent: rgba(50, 49, 45, 0.4);
  
  /*Переменная фонового изображения*/
  --bg-image: url(../images/cover-image-light.png);

  /*Скрытие декоративного элемента в светлой теме*/
  .rec_decor_element {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /*Переменные цвета*/
  --bg-color: var(--bg-pink);
  --text-color: var(--light-black);
  --accent-color: var(--shadow-pink);
  --outline-color: var(--light-black);
  --title-text-color: var(--light-black);
  --link-shadow-color: var(--shadow-pink);
  --content-title-color: var(--light-black);
  --main-title-text-color: var(--light-pink);
  --button-border-color: var(--light-black);
  --decoration-color: var(--light-black);
  --semi-transparent: rgba(50, 49, 45, 0.4);
  
  /*Переменная фонового изображения*/
  --bg-image: url(../images/cover-image-light.png);

  /*Скрытие декоративного элемента в светлой теме*/
  .rec_decor_element {
    display: none;
  }
}
}

 