/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  color: var(--text-color);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-attachment: fixed;
}

.rec_decor_element {
  position: absolute;
  display: flex;
  inset-block-start: 20px;
  inset-inline-end: 37px;
  text-transform: uppercase;
  color: var(--decoration-color);
}

.rec_decor_element::after {
  content: "";
  position: relative;
  inset-block-start: 8px;
  inset-inline-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--decoration-color);
  box-shadow: 0px 0px 4px 2px var(--decoration-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  min-height: 668px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;

  align-items: center;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--accent-color);
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  border: 0px;
  padding-block-end: 5px;
}

.header__theme-menu-item:focus,
.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-item:focus-visible,
.header__theme-menu-button:focus-visible {
  outline: none;
  outline-color: transparent;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-item:hover {
  border: 1px solid var(--semi-transparent);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  align-self: flex-start;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header-title {
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-weight: bold;
}

.section-title {
  font-size: 18px;
  color: var(--section-title-text-color);
  margin-block-end: 20px;
}

.content {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-block-start: 40px;
  margin-block-end: 40px;
}

.content-list:not(:last-child) {
  margin-block-end: 50px;
}

.content-title {
  color: var(--content-title-color);
  margin-block-end: 20px;
}

.content-title.six-rows {
  margin-block-end: 18px;
}

.text-content:not(:last-child) {
  margin-block-end: 20px;
}

.text-content-item:not(:last-child) {
  margin-block-end: 10px;
}

.subheading {
  font-size: 18px;
  margin-block-end: 10px;
}

.link {
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
  text-decoration: none;
  position: relative;
}

.link:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--text-color);
  position: absolute;
  bottom: 0px;
  left: 0;
}

.link:focus {
  outline: 1px solid var(--outline-color);
}

.five-tips {
  font-weight: normal;
}

.image-content-list {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.image-title {
  margin-block-end: 10px;
}

.image {
  display: block;
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
  min-height: 668px;
  margin-block-start: 40px;
}

.footer-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
  justify-self: center;
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    padding-inline-end: 20px;
    padding-inline-start: 0px;
    margin-block-end: 10px;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-description {
    max-inline-size: 364px;
    justify-self: end;
    margin-block-end: 10px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .rec_decor_element {
    inset-block-start: 20px;
    inset-inline-end: 37px;
  }

  .content {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin-block-start: 60px;
    margin-block-end: 59px;
  }

  .content-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .content-list:not(:last-child) {
    margin-block-end: 80px;
  }

  .drop-concentration .text-content {
    grid-column: 1 / 4;
  }

  .two-rows {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .six-rows {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
  }

  .image-title {
    grid-column: 1 / 3;
    margin-block-end: 20px;
  }

  .image-content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .image {
    inline-size: 100%;
    block-size: 100%;
    max-width: inherit;
    object-fit: cover;
    object-position: center;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
    padding-block-start: 20px;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-end: 10px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 0px;
    padding-inline-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .title-description {
    max-inline-size: 491px;
    margin-block-end: 20px;
  }

  .content-list.drop-concentration {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .drop-concentration .text-content {
    grid-row: 2 / 3;
    grid-column: auto;
  }

  .content-list {
    column-gap: 10px;
  }

  .content-list:not(:last-child) {
    margin-block-end: 80px;
  }

  .footer {
    min-block-size: 768px;
    margin-block-start: 60px;
  }
}
