/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --black: #000028;
  --red: #ff0070;
  --pink: #F1B2CE;
  --fuchsia: #DB00FF;
  --accent-color: var(--red);
  --bg-color: var(--black);
  --text-color: var(--pink);
  --title-text-color: var(--black);
  --header-bg-color: var(--red);
  --main-title-text-color: var(--fuchsia);
  --decoration-color: var(--red);
}

